body,
html {
	padding: 0;
	margin: 0;
	background-color: #FB8C00;
	font-family: 'Roboto', sans-serif;
}

/* .app {
	height: '1500px';
} */

.bck-footer {
	background: #FFC107;
}

.iconImage {
	width: 20px;
	margin-right: 10px;
}


/*------ HEADER ------*/

.header-logo-bg {
	flex-grow: 1;
}
.header-logo {
	margin-left: 0px;
	padding: 10px;
}

.MuiSvgIcon-root {
	color: black;
}

.MuiIconButton-root {
	background-color: white !important;
  border: 1px solid rgba(0, 0, 0, 0.5) !important;
}

.MuiIconButton-root:hover .MuiSvgIcon-root{
  transform: scale(1.1);
  color: green;
}

/* @media screen and (max-width: 425px) {
	.header-logo {
		margin-left: -60px;
		transform: scale(0.6);
	}

	.header-logo-bg {
		flex-grow: 1;
	}

} */

/*------ FOOTER ------*/

footer {
	padding: 20px 0px;
	text-align: center;
	color: #616161;
	font-weight: 300;
}

.footer-copyright {
	font-size: 16px;
	margin-top: 0px !important;
}

.footer-logo{
	transform: scale(0.8);
}


/*------ CARROUSEL ------*/

.carrousel-wrapper {
	height: 100vh;
	overflow: hidden;
}

.carrousel-image {
	background-size: cover !important;
	height: 100vh;
}


/*------ COUNTDOWN ------*/
@media screen and (max-width: 425px){

	.countdown-wrapper .countdown-top {
		font-size: 1rem !important;
	}

	.countdown-wrapper .countdown-time {
		font-size: 20px !important;
		border-right: 2px solid #f44336;
		padding: 5px;
	}
}

.countdown-wrapper {
	position: absolute;
	bottom: 0px;
	color: #ffffff;
}

.countdown-wrapper .countdown-top {
	background: rgb(255, 217, 0);
	color: black;
	font-size: 1.4rem;
	font-weight: 700;
	padding: 5px 20px;
	box-shadow: 2px 2px 3px black;
}

.countdown-subtitle{
	display: block;
	font-size: 1.5rem;
	font-weight: 300;
}

.countdown-wrapper .countdown-bottom {
	display: flex;
	padding: 10px 20px;
}

.countdown-wrapper .countdown-time {
	font-size: 50px;
	border-right: 2px solid #f44336;
	padding: 10px;
}

.countdown-time {
	text-shadow: 3px 3px 4px black;
	background: rgba(0, 0, 0, 0.5);
}

.countdown-bottom :nth-child(4) .countdown-time,
.countdown-bottom :nth-child(4) .countdown-tag {
	border: none !important;
}

.countdown-tag {
	text-transform: uppercase;
	padding-bottom: 5px;
	font-size: 20px;
	text-align: center;
	background: rgba(0, 0, 0, 0.5);
	border-right: 2px solid #f44336;
}

/*------ CONTACT ------*/

.MuiOutlinedInput-root{
	background-color: #FAFAFA;
}


/*====================
        PRICING
======================*/

.pricing-section {
	padding: 70px 0px;
}

.pricing-section h2 {
	color: #ffffff;
	text-transform: uppercase;
	text-align: center;
	font-size: 50px;
	margin: 0;
}

.pricing-wrapper {
	display: flex;
	flex-wrap: wrap;
}
.pricing-wrapper .pricing-item {
	flex-grow: 1;
	width: 33%;
	padding: 20px;
	box-sizing: border-box;
}

.pricing-wrapper .pricing-inner-wrapper {
	border: 2px solid #ffa800;
	padding: 50px 20px;
}

.pricing-inner-wrapper .pricing-title {
	color: #ffffff;
	text-align: center;
	border-bottom: 1px solid #ffa800;
	padding-bottom: 20px;
}
.pricing-inner-wrapper .pricing-title span:nth-child(1) {
	font-size: 50px;
	display: block;
}
.pricing-inner-wrapper .pricing-title span:nth-child(2) {
	text-transform: uppercase;
	font-size: 28px;
	font-weight: 300;
}
.pricing-inner-wrapper .pricing-description {
	color: #b8b8b8;
	font-weight: 300;
	font-size: 14px;
	text-align: center;
	padding: 20px 0px;
	min-height: 70px;
}

.pricing-inner-wrapper .pricing-buttons {
	text-align: center;
}

/*====================
        LOCATION    
======================*/

.location-wrapper {
	position: relative;
}

.location-tag {
	position: absolute;
	bottom: 0px;
	width: 100%;
}
.location-tag div {
	background: #2c2c2c;
	color: #ffffff;
	text-transform: uppercase;
	width: 220px;
	margin: 0 auto;
	font-size: 29px;
	padding: 15px 20px;
	text-align: center;
}
